#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  display: flex;
  background-color: white;

}

.display-container {
  width: 500px;
  height: 80px;
  margin-bottom: 5px;
  background-color: #BEBEBE;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  font-size: 50px;
  align-items: center;
}

input {
  width: 25%;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  border: 0.25px solid #aaa;
}

#zero-btn {
  width: 50%;
}

#right-side {
  color: white;
  background-color: orange;
}
